@use '../abstracts/' as *;

.btn {
  font-family: $btnFont;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.btn-primary {
  background-color: $brandColor;
  color: $complementaryColor;

  &:hover {
    background-color: lighten($brandColor, 5%);
  }
}

.btn-secondary {
  background-color: $offsetColor;
  color: $complementaryColor;

  &:hover {
    background-color: lighten($offsetColor, 3%);
  }
}